:root{
    --theme-primary : #ead7c770;
    --theme-secondary : #157575;
    --theme-light : #cfb15a;
    --theme-dark : #664d01;
    --theme-ccc : #ccc;
    --theme-white : #fff;

                                 /* Shadow Level */
    --shadow-one : 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
    --shadow-two : 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}